 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/857475.jpg");
  background-position: 53.38% 45.93%;
  background-size: auto 210%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1076px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: none;
  font-size: 3rem;
  text-align: center;
  margin: -1289px 1366px 60px -226px;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: none;
  font-size: 3.75rem;
  font-weight: 300;
  margin: 33px 42px 0;
}

.u-section-1 .u-shape-1 {
  width: 377px;
  height: 377px;
  margin: 21px auto 0 381px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 0 68px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1120px;
  margin: 21px auto 0 10px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px);
  grid-gap: 26px 26px;
  min-height: 408px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 29px 6px;
}

.u-section-1 .u-icon-1 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 38px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.1875rem;
  transition-duration: 0.75s;
  margin: 68px 8px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 29px 6px;
}

.u-section-1 .u-icon-2 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 38px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 2.1875rem;
  transition-duration: 0.75s;
  margin: 68px 8px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 29px 6px;
}

.u-section-1 .u-icon-3 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 38px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.1875rem;
  transition-duration: 0.75s;
  margin: 68px 8px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 29px 6px;
}

.u-section-1 .u-icon-4 {
  height: 140px;
  width: 140px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 38px auto 0;
}

.u-section-1 .u-text-7 {
  font-size: 2.1875rem;
  transition-duration: 0.75s;
  margin: 68px 8px 0 0;
}

.u-section-1 .u-video-1 {
  width: 253px;
  height: 253px;
  margin: -821px auto 0 443px;
}

.u-section-1 .u-shape-2 {
  width: 377px;
  height: 377px;
  margin: -1711px -566px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 52.32% 47.26%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1498px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 1266px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 724px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -1175px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -1357px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 52.45% 47.74%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 1156px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 875px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 48px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 120px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 48px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 120px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 48px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 120px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 48px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 120px;
  }

  .u-section-1 .u-video-1 {
    margin-top: -1365px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -1167px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2808px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 1066px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1609px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-video-1 {
    margin-top: -2099px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -1707px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 51.98% 47.74%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 2690px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 966px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 21px;
  }

  .u-section-1 .u-shape-1 {
    height: 340px;
    margin-top: 139px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-video-1 {
    width: 235px;
    height: 235px;
    margin-top: -2220px;
    margin-left: 50px;
  }

  .u-section-1 .u-shape-2 {
    height: 340px;
    width: 340px;
    margin-top: -1541px;
    margin-right: -259px;
    margin-bottom: 60px;
  }
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  color: #000000 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  color: #000000 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  color: #000000 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  color: #000000 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  color: #000000 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  color: #000000 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-7,
.u-section-1 .u-text-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-7 {
  color: #000000 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-7 {
  color: #000000 !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.01) translateX(0px) translateY(0px) !important;
}